@font-face {
    font-family: "KornucopiaPL";
    src:
        url("https://raw.githubusercontent.com/fafikmaly/kornucopia-pl-font/main/KornucopiaPL.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/fafikmaly/kornucopia-pl-font/main/KornucopiaPL.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-korn: "KornucopiaPL", sans-serif;
}

body, * {
    font-family: var(--font-korn) !important;
}
